{% load static %}

<div class="nav-block">
    <div class="logo-block">
        <img class="logo" src="{% static 'images/logo.jpg' %}" alt="logo">
    </div>

    <ul class="nav-bar">
        <li><a class="nav-item " href="/">HOME</a></li>
        <li><a class="nav-item" href="#services">SERVICES</a></li>
        <li><a class="nav-item" href="#about">ABOUT</a></li>
        <li><a class="nav-item" href="#projects">PROJECTS</a></li>
        <li><a class="nav-item" href="#contact">CONTACT</a></li>
    </ul>
    
    <div class="hamburger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

</div>

