{% load static%}
<h2 class="label-text" id="services">Services</h2>
<p class="border-bot"> </p>

<div class="services-block">   
    <div class="row">

        <div class="block">
            <img src="{% static 'images/serv1.jpg'%}" alt="image" width="320" height="250"> 
    
            <div class="services-text">
                <h4 class="name-text"> Manufacturing</h4>
                <p class="description-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
            </div>
        </div>
    
        <div class="block">
            <img src="{% static 'images/serv2.jpg'%}" alt="image" width="320" height="250"> 
    
            <div class="services-text">
                <h4 class="name-text"> Fabrication</h4>
                <p class="description-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
            </div>
        </div>
    
        <div class="block">
            <img src="{% static 'images/serv3.jpg'%}" alt="image" width="320" height="250"> 
    
            <div class="services-text">
                <h4 class="name-text"> Construction</h4>
                <p class="description-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
            </div>
        </div>

    </div>
   
    <div class="row">
        <div class="block">
            <img src="{% static 'images/serv4.jpg'%}" alt="image" width="320" height="250"> 
    
            <div class="services-text">
                <h4 class="name-text"> Welding Instructor</h4>
                <p class="description-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
            </div>
        </div>
    
        <div class="block">
            <img src="{% static 'images/serv5.jpg'%}" alt="image" width="320" height="250"> 
    
            <div class="services-text">
                <h4 class="name-text"> Heavy Equipment</h4>
                <p class="description-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
            </div>
        </div>
    
        <div class="block">
            <img src="{% static 'images/serv6.jpg'%}" alt="image" width="320" height="250"> 
    
            <div class="services-text">
                <h4 class="name-text"> Aluminum System</h4>
                <p class="description-text">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
            </div>
        </div>
     
    </div>

    
</div>